﻿@{
    ViewBag.Title = "Rastreio de encomenda";
}

<br />
<br />
<br />
<br />

@{
    if (String.IsNullOrEmpty(ViewBag.Erro))
    {
        if (!String.IsNullOrEmpty(ViewBag.Transportadora))
        {

            <div class="progress-tracking">
                <div class="circle">
                    <span class="label"><i class="fas fa-check"></i></span>
                    <span class="title">Criado</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label"><i class="far fa-paper-plane"></i></span>
                    <span class="title">Despachado</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label"><i class="fas fa-hourglass-half"></i></span>
                    <span class="title">Em trânsito</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label"><i class="fas fa-shuttle-van"></i></span>
                    <span class="title">Saiu para entrega</span>
                </div>
                <span class="bar"></span>
                <div class="circle">
                    <span class="label"><i class="fas fa-home"></i></span>
                    <span class="title">Entregue</span>
                </div>
            </div>

            <br />
        }

        <div class="row">
            <table class="table">
                <thead>
                    <tr align="center" class="warning">
                        <th width="25%">Data/Hora</th>
                        <th width="25%">Evento</th>
                        <th width="25%">Detalhes</th>
                        <th width="25%">Observação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movimento in ViewBag.Movimentacao)
                    {
                    <tr>
                        <td>@movimento.Data</td>
                        <td style="text-align: left">@movimento.Evento</td>
                        <td style="text-align: left">@movimento.Detalhes</td>
                        <td style=" text-align: left ">@movimento.Observacao</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-lg-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">
                    <strong>Número de rastreio não encontrado</strong>
                </div>
            </div>
        </div>
    }

}

@section Scripts {
    <script type="text/javascript">
        var i = 1;
        var status = "@Convert.ToString(ViewBag.Status)";

        if (status == "Criado") {
            limite = 1;
        }
        if (status == "Despachado") {
            limite = 2;
        }
        if (status == "Em trânsito" || status == "Em tr&#226;nsito") {
            limite = 3;
        }
        if (status == "Saiu para entrega") {
            limite = 4;
        }
        if (status == "Falha na entrega" || status =="Averiguar falha na entrega") {
            limite = 4;
        }
        if (status == "Entregue") {
            limite = 6;
        }

        $('.progress-tracking .circle').removeClass().addClass('circle');
        $('.progress-tracking .bar').removeClass().addClass('bar');


        if (i == 0) {
            $('.progress-tracking .bar').removeClass().addClass('bar');
            $('.progress-tracking div.circle').removeClass().addClass('circle');
            i = 1;
        }

        do {           

            if ((status == "Falha na entrega" || status =="Averiguar falha na entrega") && i == 4) {
                $('.progress-tracking .circle:nth-of-type(' + i + ')').addClass('problem');
                $('.progress-tracking .circle:nth-of-type(' + (i) + ') .label').html('<i class="fas fa-times"></i>');
            }
            else {
                $('.progress-tracking .circle:nth-of-type(' + i + ')').addClass('active');
            }

            $('.progress-tracking .circle:nth-of-type(' + (i - 1) + ')').removeClass('active').addClass('done');

            $('.progress-tracking .circle:nth-of-type(' + (i - 1) + ') .label').html('<i class="fas fa-check"></i>');

            $('.progress-tracking .bar:nth-of-type(' + (i - 1) + ')').addClass('active');

            $('.progress-tracking .bar:nth-of-type(' + (i - 2) + ')').removeClass('active').addClass('done');
            i++;
        } while (i <= limite);


    </script>
}

